button {
  background: $orange-gradient;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
  border-radius: 100px;
  padding: 18px 30px;
  letter-spacing: 0.65px;
}
