button {
  background: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  border: 5px solid #30343F;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 100px;
  padding: 8px 30px;
}
