.site-header {
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 10;
  padding: 41px 93px 30px 93px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.4);

  @media screen and (max-width: 755px){
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    padding: 41px 30px;
  }

  @media screen and (max-width: 455px){
    padding: 21px 10px;
    grid-template-columns: 100%;
  }

  .header-logo {
    background-image: url("/assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 142px;
    height: 34px;
    margin-right: 50px;
  }

  .navigation {
    grid-column: 4;
    font-weight: 700;
    font-size: $navigation-font-size;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 755px){
      grid-row: 2;
      grid-column: 1;
    }
    @media screen and (max-width: 455px){
      font-size: 12px;
    }

    .navigation-wrapper {
      display: flex;
      justify-content: center;
      background: $navigation-wrapper-background;
      color: $navigation-wrapper-color;
    }

    .navigation-item {
      display: inline-block;
      margin-right: 30px;
      letter-spacing: 0.18px;
      padding: 10px 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
