.testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  button {
    display: block;
    margin: 0 auto;
  }
  .testimony-card {
    display: block;
    max-width: 832px;
    margin: 0 auto;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  header {
    text-transform: uppercase;
    text-align: center;
    h3 {
      font-weight: 400;
    }
    &:after {
      content: " ";
      width: 40px;
      height: 6px;
      border-radius: 2.5px;
      background: $blue-light;
      display: block;
      margin: 0 auto;
    }
  }
  ul {
    list-style: none;
  }
  li {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto auto;
    grid-row-gap: 55px;
  }
  .quote {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 80px auto;
    .quote-image {
      width: 40px;
      height: 35px;
      background: url(/assets/images/quotation.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .quote-text {
      p {
        margin: 0;
        letter-spacing: 1.32px;
        line-height: 32px;
      }
    }
  }
  .author {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    .author-image {
      width: 76px;
      height: 76px;
      background: grey;
      border-radius: 100px;
      margin-right: 16px;
      box-shadow: 0 1px 21px 0 rgba(0, 0, 0, 0.08);
      background: url(/assets/images/user.png);
    }
    .byline-name {
      font-weight: 700;
      font-size: 22px;
    }
    .byline-title {
      font-weight: 700;
      color: grey;
      font-size: 19px;
    }
  }
}
